:root {
  font-size: 10px; /* Reset: 10px = 1rem */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #3e63dd;
  --primary11: #9eb1ff;
  --success: #3dd68c;
  --error: #ff9592;
  --white: #ffffff;
  --text: #ffffffcc;
  --grey1: #111111;
  --grey2: #222222;
  --grey3: #313131;
  --grey6: #3a3a3a;
  --grey9: #6e6e6e;
  --grey10: #7b7b7b;
}

body {
  min-width: 320px;
  color: var(--white);
  background-color: var(--grey1);
  padding: 1.6rem;
}

p,
a,
li,
button,
div {
  font-size: 1.6rem;
  line-height: 150%;
}

p {
  color: var(--text);
}

a {
  color: var(--primary-text);
}

button {
  padding: 0.2rem 0.4rem;
  color: var(--white);
  background-color: var(--primary);
}
button:disabled {
  opacity: 0.6;
}

input,
textarea {
  border: none;
  font-family: inherit;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

ul,
li {
  color: inherit;
  font-family: inherit;
}

/* Utils */
.rootBox {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.6rem;
  border: 1px solid var(--grey6);
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rowSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.list {
  padding: 1.6rem;
  border: 1px solid var(--grey6);
}

.listItem {
  display: flex;
  gap: 0.8rem;
  padding: 1.6rem;
  border-bottom: 1px solid var(--grey6);
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--grey2);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--grey2);
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--grey10);
}

@media (min-width: 768px) {
  body {
    padding: 8rem;
  }
}

.blink {
  animation: blinkGreen 1s ease-out;
}

@keyframes blinkGreen {
  0% {
    color: var(--success);
  }
  100% {
    color: var(--text);
  }
}

.success {
  color: var(--success);
}

.error {
  color: var(--error);
}
