.root {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.6rem;
  border: 1px solid var(--grey6);
}

.list {
  padding: 1.6rem;
  border: 1px solid var(--grey6);
}

.listItem {
  display: flex;
  gap: 0.8rem;
  padding: 1.6rem;
  border-bottom: 1px solid var(--grey6);
}

.highlightedMessage span {
  color: var(--success);
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
